@tailwind base;
@tailwind components;
@tailwind utilities;

.rounded-md {
    border-radius: 20px/* 6px */;
    background-color: white;
    color: black;
}
a{
    color: white;
}
.text-gray-500 {
   color: white;
}
.login{
    margin: 0 8px;
}